html {
  background: url(../img/dustbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover; }

#wrapper_table {
  background-color: rgba(123, 66, 4, 0.4);
  padding-bottom: 15px;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5); }

h1 {
  display: block;
  padding: 5px 10px;
  margin: 2px auto;
  background-color: #E68217;
  color: #FFF; }

p {
  color: #FFF; }
