html {
  background: url(../img/dustbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover; }

* {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 15px; }

#wrapper_table {
  background-color: rgba(123, 66, 4, 0.6);
  padding-bottom: 15px;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5); }

.notification-box {
  position: absolute;
  border: 2px solid #E68217;
  top: 20%;
  left: 0;
  right: 0;
  display: none;
  z-index: 9000;
  width: 400px;
  margin: 0 auto;
  padding: 1em;
  opacity: 1;
  background-color: #F6AF62;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2);
  box-shadow: 0px 0px 6px rgba(255, 105, 110, 0.2); }
  .notification-box.error {
    background-color: #DA5A14; }
  .notification-box.show {
    opacity: 1; }
  .notification-box .notification-text {
    font-size: 20px;
    text-align: justify;
    display: inline-block; }

h1 {
  display: block;
  padding: 5px 10px;
  margin: 2px auto 0 auto;
  background-color: #E68217;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px; }

.hidden {
  display: none; }

hr {
  margin-bottom: 15px;
  border: #04394D solid 1px; }

button, .button {
  cursor: pointer;
  color: white;
  margin: 5px;
  border: 0;
  padding: 10px;
  font-size: 18px;
  margin: 5px auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#115673), to(#04384D));
  background-image: -webkit-linear-gradient(#115673, #04384D);
  background-image: linear-gradient(#115673, #04384D);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.24); }
  button:hover, .button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F6AF62), to(#ffa500));
    background-image: -webkit-linear-gradient(#F6AF62, #ffa500);
    background-image: linear-gradient(#F6AF62, #ffa500);
    background-color: #F6AF62; }

p {
  color: #FFF; }

span.caption {
  color: #FFF; }

ul {
  z-index: 9001; }

#crosshair_dot_wrapper label {
  padding: 6px; }
